@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800&display=swap');
.features .box {
    padding: 40px;
    background-color: rgb(167 139 250); 
  margin: 10px;
 
 }


 .features{
  padding-left: 80px;
  padding-right: 80px;
  
 }

  .features .box h2 {
    margin: 0px 0 20px 0;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: 700;
    color: rgb(46 16 101);
    
   
  }
  .features .box p {
    word-spacing: 2px;
    transition: 0.5s;
    font-weight: 500;
  
  }
  .features .box i {
    font-size: 30px;
    margin-top: 20px;
    transition: 0.5s;
    opacity: 0;
    
    
  }
  .features .box:hover p {
    color: black;
    
  }
  .features .box:hover i {
    color: black;
    /* opacity: 1; */
    
  }

  .features .box:hover h2 {
    color: black;
    font-weight: bold;
  }

  .heading h1{
    color: rgb(46 16 101);
    font-weight: 700;
    font-size: 2.25rem;


    }

    .wid{
      width: 41%;
    }
    
    .wids{
      width: 30%;
      margin-right: 90px;
    }
    
 
 
  
